* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: white;
}

.vermelho {
  width: 770px;
  height: 377px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid rgb(255, 0, 0);
}

.azul {
  width: 770px;
  height: 377px;
  background-color: blue;
  position: absolute;
  bottom: 0;
  right: 0;
}